.openBtn {
    display: flex;
    justify-content: center;
    align-items:center;
    height:81px;
    
  }
  .openButton {
    
    height:50px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    *{
        box-sizing: border-box;
    }
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
  }
  .formContainer input[type=text],
  .formContainer input[type=number],
  .formContainer input[type=datetime-local] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=datetime-local]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn-boka {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn-boka:hover,
  .openButton:hover {
    opacity: 1;
  }