$colorRed: #f92737;
$colorBeige: #fbecd3;
$colorMustard: #e3b622;
$colorTurqoise: #06b5ab;
$colorDarkBeige: #d8a282;
$colorLavender: #bfa09f;
$colorLightTurqoise: #9fcec3;
$colorBlack: black;
$colorDarkGray: rgb(53, 53, 53);
$colorLightRed: #fea4ac;
$colorSuperDarkBeige: #88593e;
