@charset "UTF-8";
.topnav {
  background-color: #fbecd3;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:not(:first-child) {
  display: none;
  padding: 29px 36px;
}

.topnav a:hover {
  background-color: #fbecd3;
  color: red;
}

.topnav a.active {
  background-color: #f92737;
  color: white;
}

.topnav a.icon {
  float: right;
  display: block;
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

@media screen and (min-width: 800px) {
  .topnav a:not(:first-child) {
    display: block;
  }
  .topnav a.icon {
    display: none;
  }
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

hr {
  height: 85px;
}

footer {
  color: #fbecd3;
  background-color: #06b5ab;
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer .img-holder {
  height: 10%;
  width: 10%;
  align-self: center;
}
footer .img-holder img {
  height: 100%;
  width: 100%;
}
footer .contact {
  font-family: "Nova Square", sans-serif;
}
footer .footer-nav {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
}
footer .footer-nav p {
  height: 20px;
}

.meny .content {
  border: 1px solid black;
  background-color: #9fcec3;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  align-items: center;
  text-align: center;
}
.meny .content .rubrik {
  position: relative;
}
.meny .content .rubrik video {
  max-width: 100%;
}
.meny .content .rubrik h2 {
  font-size: 50px;
  position: relative;
  bottom: 35vw;
  color: #fbecd3;
}
.meny .content .rubrik p {
  position: relative;
  bottom: 35vw;
  font-style: normal;
  color: #fbecd3;
}
.meny .content h3 {
  font-family: "Nova Square", sans-serif;
  font-size: x-large;
}
.meny .content h4 {
  margin-top: 30px;
}
.meny .content hr {
  height: 1px;
  width: 300px;
  background-color: rgb(53, 53, 53);
  border: none;
}
.meny .content p {
  font-style: italic;
}
.meny .content .appetizers {
  max-width: 450px;
  background-color: #fbecd3;
  border-radius: 10px;
  margin: 10px;
}

.entrees {
  border: 1px solid #fbecd3;
  background-color: #fbecd3;
  border-radius: 10px;
  max-width: 450px;
  margin: 10px;
}

.desserts {
  background-color: #fbecd3;
  border-radius: 10px;
  max-width: 450px;
  margin: 10px;
}

.drinks {
  background-color: #fbecd3;
  border-radius: 10px;
  max-width: 450px;
  margin: 10px;
}

@media (min-width: 1024px) {
  .meny .container {
    display: flex;
    flex-direction: row;
  }
  .rubrik h2,
  .rubrik p {
    position: relative;
    bottom: 60vw;
  }
}
.recension-body {
  background: url("./images/alley-eva-bronzini.jpg");
  background-size: cover;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.recension {
  border: 1px solid #06b5ab;
  height: 165px;
  width: 70%;
  border-radius: 4px;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 12px;
  box-shadow: 1px 1px 7px black;
  font-family: "Nunito Sans", sans-serif;
}
.recension h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.recension .date {
  color: black;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 0 0;
}
.recension p {
  font-size: 14px;
  margin-bottom: 0px;
}

.rec-title h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  color: #fbecd3;
  display: flex;
  justify-content: center;
}

.recensioner .container {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 12px;
}
.recensioner .container .stars {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.recensioner .container .stars img {
  height: 20px;
  width: 20px;
}

.text-form {
  width: 100%;
}
.text-form .rec-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.text-form .rec-row textarea#rec-text {
  height: 200px;
  width: 60%;
  border: 1px solid #06b5ab;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 1px 1px 7px black;
}
.text-form .rec-row input[type=text] {
  margin-left: 24px;
  border: 1px solid #06b5ab;
  background: #fbecd3;
}

label {
  width: 95px;
  color: black;
}

.sent {
  display: none;
  height: 400px;
  width: 400px;
  position: absolute;
  bottom: 30%;
  left: 25%;
}

.rec-row:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
.rec-row:nth-of-type(3) input[type=submit] {
  margin-top: 16px;
  height: 50px;
  width: 120px;
  font-size: 18px;
  background-color: #06b5ab;
  border: none;
  border-radius: 4px;
  color: #fbecd3;
}
.rec-row:nth-of-type(3) input[type=submit]:hover {
  cursor: pointer;
  background: #fbecd3;
  color: black;
}
.rec-row:nth-of-type(3) input[type=submit]:active .container .sent {
  display: inline-block;
}

.rec-row * {
  font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 1024px) {
  .recensioner .container {
    display: flex;
    justify-content: center;
  }
  .recensioner .container .recension {
    width: 60%;
  }
  .recensioner .container textarea#rec-text {
    width: 60%;
  }
}
.topnav {
  background-color: #fbecd3;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:not(:first-child) {
  display: none;
  padding: 29px 36px;
}

.topnav a:hover {
  background-color: #fbecd3;
  color: red;
}

.topnav a.active {
  background-color: #f92737;
  color: white;
}

.topnav a.icon {
  float: right;
  display: block;
}

.topnav.responsive {
  position: relative;
}

.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

@media screen and (min-width: 800px) {
  .topnav a:not(:first-child) {
    display: block;
  }
  .topnav a.icon {
    display: none;
  }
}
.container-about {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 24px;
}

.employee {
  font-family: "Nunito Sans", sans-serif;
  height: 215px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 9px black;
  background-color: rgba(194, 248, 255, 0.3019607843);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-sizing: border-box;
  padding: 12px;
  border-radius: 4px;
}
.employee .employee-pictures {
  display: flex;
  justify-content: space-between;
}
.employee img {
  height: auto;
  min-width: 20%;
  max-width: 30%;
  border-radius: 50%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.employee img:nth-of-type(2) {
  min-width: 20px;
  height: 50px;
}
.employee h3 {
  font-weight: 400;
  margin: 4px 0px;
}
.employee p {
  font-size: 12px;
}
.employee p:nth-of-type(2) {
  font-weight: 600;
}

.about-title {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  align-items: center;
  justify-content: center;
}
.about-title p {
  width: 80%;
}
.about-title h2 {
  align-self: center;
}
.about-title .slogan {
  font-weight: 300;
}

.about-us {
  background: url("/images/wood-background2-tirachard-kumtanom.jpg");
}

@media (min-width: 1024px) {
  .employee {
    width: 80%;
    height: 350px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .employee .employee:not(.employee-pictures) {
    justify-content: center;
  }
  .employee .employee-pictures {
    width: 600px;
    justify-content: space-evenly;
  }
  .employee .employee-pictures img {
    min-width: 30%;
    max-width: 50%;
  }
  .employee .employee-pictures img:nth-of-type(2) {
    display: none;
  }
  .employee .employee-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
  }
  .employee .employee-text p {
    font-size: 20px;
  }
  .employee .employee-text h3 {
    font-size: 26px;
  }
}
main {
  background-color: #fbecd3;
  border-top: solid turquoise;
  font-family: "Nova Square", sans-serif;
}

.linje {
  border-bottom: solid red;
}

.Kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 100px;
}
.Kontakt img {
  height: 200px;
}
.Kontakt .formulär {
  background-color: beige;
  padding: 15px;
  border: solid #06b5ab;
  border-radius: 4px;
}
.Kontakt .formulär #button {
  color: white;
  background-color: #06b5ab;
  border-radius: 4px;
  border: none;
  padding: 15px;
}

.byggvideo {
  width: 100%;
}
.byggvideo video {
  max-width: 100%;
  filter: blur(2px);
}
.byggvideo h2 {
  position: relative;
  bottom: 35vw;
  text-align: center;
  color: #fbecd3;
  font-family: "nunito sans", sans-serif;
  font-size: 6vw;
}
.byggvideo h3 {
  position: relative;
  text-align: center;
  color: #fbecd3;
  bottom: 35vw;
  font-size: 3vw;
}

@media (min-width: 1024px) {
  .Kontakt {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .rubrikkontakt {
    position: relative;
    bottom: 200px;
  }
}
.startsida div {
  font-family: "nunito sans", sans-serif;
  width: 100%;
  background-color: #f92737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startsida div img {
  width: 100%;
}
.startsida div h1 {
  position: relative;
  bottom: 110vh;
  left: 10vw;
  color: #fbecd3;
  font-size: 100px;
}
.startsida div button {
  margin-top: 16px;
  height: 50px;
  width: 180px;
  font-size: 21px;
  background-color: rgb(53, 53, 53);
  border: none;
  border-radius: 4px;
  color: #fbecd3;
  position: relative;
  bottom: 300px;
}
.startsida div button a {
  text-decoration: none;
  color: #fbecd3;
}
.startsida div button:hover {
  background-color: rgb(72, 67, 67);
  cursor: pointer;
}
.startsida .bar {
  color: rgb(53, 53, 53);
  background-color: #fbecd3;
}
.startsida .bar h2 {
  position: relative;
  bottom: 230px;
  color: #fbecd3;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.508);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.startsida .bar .text {
  width: 60%;
  background-color: #9fcec3;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

body {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */